# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages

#DAGS Requirements
apache-airflow-providers-postgres

#Testing Requirements
pytest

#Summarization Requirements
sumy